{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for article in articles %}
            <li>{{ article.body }} ({{ article.id }})</li>
        {% endfor %}
    </ul>
{% endblock %}
